$white: #ffffff;
$pink: #FFA7C3;
$hot-pink: #F74780;
$purplish-blue: #666CA3;
$grey: #83869A;
$navy: #13183F;
$pink-orange-gradient: linear-gradient(#F02AA6,#FF6F48);
$blue-pink-gradient: linear-gradient(#4851FF, #F02AA6);
$body-gradient: linear-gradient(180deg, #FFFFFF, #F0F1FF);
