//Heading Typography
//extra large
$heading-xl-font: 16px;
$heading-xl-line: 70px;

//large
$heading-l-font: 40px;
$heading-l-line: 51px;

//medium
$heading-m-font: 32px;
$heading-m-line: 40px;

//small
$heading-s-font: 24px;
$heading-s-line: 28px;

//Body Typography

$body-m-font: 18px;
$body-m-line: 28px;
$body-s-font: 16px;
$body-s-line: 28px;